@import "./header.css";
@import "./player.css";
@import "./table.css";
@import "./footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #fff7ed;
  --text-color: #292524;

  --main-orange: #ef4444;
  --secondary-orange: #fca5a5;
  --dark-orange: #431407;
  --main-purple: #6366f1;
  --secondary-purple: #818cf8;
  --main-gray: #a3a3a3;
  --secondary-gray: #d4d4d4;

  --header-height: 150px;
  --footer-height: 93px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);

  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+/Edge */
  user-select: none; /* padrão */
}

.square--X {
  color: var(--main-orange);
  font-size: 60px;
}

.square--O {
  color: var(--secondary-orange);
  font-size: 60px;
}

.square--disabled {
  cursor: none;
  pointer-events: none;
};

.score--disabled {
  background-color: var(--secondary-gray);
  border: 2px solid var(--main-gray);
  color: var(--main-gray);
}

.player--disabled {
  background-color: var(--secondary-gray);
  border: 2px solid var(--main-gray);
  color: var(--main-gray);
  transform: rotate(0deg) scale(1);
  z-index: 0;
  pointer-events: none;
}

.player--X.player--disabled .player-X-score {
  background-color: var(--secondary-gray);
  border: 2px solid var(--main-gray);
  color: var(--main-gray);
}

.player--O.player--disabled .player-O-score {
  background-color: var(--secondary-gray);
  border: 2px solid var(--main-gray);
  color: var(--main-gray);
}

.icon--disabled {
  border-right: 2px solid var(--main-gray);
}

.vissible {
  visibility: visible;
}


.row-line::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  height: 10px;
  background-color:  var(--main-orange);
  animation: animate-rowLine .2s ease-in-out forwards;
}

.column-line::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  width: 10px;
  background-color: var(--main-orange);
  animation: animate-columnLine .2s ease-in-out forwards;
}

.diagonalLeft-line::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 10px;
  background-color: var(--main-orange);
  transform: rotate(44deg);
  transform-origin: left;
  animation: animate-diagonalLine .2s ease-in-out forwards;
}

.diagonalRight-line::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 10px;
  background-color: var(--main-orange);
  transform: rotate(316deg);
  transform-origin: right;
  animation: animate-diagonalLine .2s ease-in-out forwards;
}


.player--winner::before {
  content: "VENCEDOR ✨";
  font-size: 20px;
  position: absolute;
  top: -85%;
  left: 14%;
  text-wrap: nowrap;
  z-index: 100;
}

.lightBeam::after {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: 20px;
  height: 100%;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  animation: lightBeam 1s cubic-bezier(.19,.61,.86,.64) infinite;
}

@keyframes lightBeam {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

@keyframes animate-rowLine {
  from {
    width: 0%;
  }
  to {
    width: calc(100px * 3);
  }
}

@keyframes animate-columnLine {
  from {
    height: 0%;
  }
  to {
    height: calc(100px * 3);
  }
}

@keyframes animate-diagonalLine {
  from {
    width: 0%;
  }
  to {
    width: 417px;
  }
}

@media screen and (max-width: 380px) {
  .player--winner::before {
    top: -100%;
  }

  @keyframes animate-rowLine {
    from {
      width: 0%;
    }
    to {
      width: calc(75px * 3);
    }
  }
  
  @keyframes animate-columnLine {
    from {
      height: 0%;
    }
    to {
      height: calc(75px * 3);
    }
  }
  
  @keyframes animate-diagonalLine {
    from {
      width: 0%;
    }
    to {
      width:  305px;
    }
  }
}